{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Удалить</th>
                        <th scope="col">Редактировать</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url "snipp_info" snippet.id %}">{{snippet.name}}</a></td>
                        <td>{{snippet.creation_date | date:"Y-m-d H:i:s"}}</td>
                        {% comment %} <td><a href="{% url "snipp_delete" snippet.id  %}">Удалить сниппет</a></td> {% endcomment %}
                        <td><button type="submit" class="btn btn-primary brn-block" color="red"> Удалить сниппет</button>
                        {% comment %} 
                            ПЕРЕДЕЛАТЬ НА КНОПКУ С ТОКЕНОМ 
                            15 ВИДЕО, БЛИЖЕ К КОНЦУ
                        {% endcomment %}
                        <td><a href="{% url "snipp_edit" snippet.id  %}">Редактировать</a></td>
                    </tr>
                    {% endfor %} 
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}