{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Удалить</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Тип</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url "snipp_info" snippet.id %}">{{snippet.name}}</a></td>
                        <td>{{snippet.creation_date | date:"Y-m-d H:i:s"}}</td>
                        {% if snippet.user == request.user %}
                        <td>
                            <form action={% url "snipp_delete" snippet.id %} method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"> Удалить </button>
                            </form>
                        </td>
                        {% else %}
                        <td>
                            <button type="submit" class="btn btn-secondary"> Удалить </button>
                        </td>
                        {% endif %}
                        {% if snippet.user == request.user %}
                        <td>
                            <a href="{% url "snipp_edit" snippet.id  %}">
                            <button type="button" class="btn btn-info">Редактировать</button>
                            </a>
                        </td>
                        {% else %}
                        <td>
                            <button type="submit" class="btn btn-secondary">Редактировать</button>
                        </td>
                        {% endif %}
                        <td>
                            {{ snippet.user.username }} 
                        </td>
                        {% if snippet.public %}
                        <td>
                            Публичный
                        </td>
                        {% else %}
                        <td>
                            Приватный
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %} 
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}