{% load static %}
<header>
        {% if request.user.is_authenticated %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url "home" %}">
                        <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
                        PythonBin
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="form-inline">
                                <a class="btn btn-outline-secondary" href="{% url "snipp_add" %}">
                                    Добавить сниппет
                                </a>
                            </li>
                            <li class="form-inline">
                                <a class="btn btn-outline-info" href="{% url "snipp_list" %}">
                                    Посмотреть сниппеты
                                </a>
                            </li>
                            <li class="form-inline">
                                <a class="btn btn-outline-info" href="{% url "snipp_list" %}">
                                    Моя сниппеты
                                </a>
                            </li>
                        </ul>
                    </div>
                <span style="color: white;"> Привет, {{ request.user.username }} <span> &nbsp; &nbsp;
            <a href="{% url 'logout' %}"> Logout</a>   
        {% else %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url "home" %}">
                        <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
                        PythonBin
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="form-inline">
                                <a class="btn btn-outline-secondary" href="{% url "snipp_add" %}">
                                    Добавить сниппет
                                </a>
                            </li>
                            <li class="form-inline">
                                <a class="btn btn-outline-info" href="{% url "snipp_list" %}">
                                    Посмотреть сниппеты
                                </a>
                            </li>
                        </ul>
                    </div>
                <form method="post" action="{% url "login" %}">{% csrf_token %}
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
                <button type="submit">login</button>
                </form>
            {% endif %}
    </div>
</nav>
</header>
        </div>
    </nav>
</header>